<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bitcoin Chart</title>
    <script src="scripts/chart-scripts.js"></script>
</head>
<body>
    <button name="get-prices" onclick="getPrices()">Get Prices</button>
    <ul id="price-list">

    </ul>
</body>
</html>