<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bitcoin Chart</title>
    <script src="scripts/price-scripts.js"></script>
    <script src="https://cdn.zingchart.com/zingchart.min.js"></script>
    <script>
        zingchart.MODULESDIR = "https://cdn.zingchart.com/modules/";
        ZC.LICENSE = ["569d52cefae586f634c54f86dc99e6a9", "ee6b7db5b51705a13dc2339db3edaf6d"];
    </script>
    
    <link href='https://fonts.googleapis.com/css?family=Roboto:300' rel='stylesheet' type='text/css'>
    <style>
        .zc-ref {
        display: none;
        }
    </style>
    <link rel="stylesheet" href="stylesheets/main.css">
</head>
<body>
    <label for="select-currency">Choose a currency:</label>
    <select name="select-currency" id="select-currency" onchange="getData(); getCurrentPrice()">
        <option value="USD" selected>USD</option>
        <option value="GBP">GBP</option>
        <option value="EUR">EUR</option>
        <option value="CNY">CNY</option>
    </select>
    <% var date = new Date();
    var ddToday = String(date.getDate()).padStart(2, '0');
    var mmToday = String(date.getMonth() + 1).padStart(2, '0');
    var yyyyToday = String(date.getFullYear());
    var today = yyyyToday + "-" + mmToday + "-" + ddToday;

    date.setDate(date.getDate() - 1);
    var ddYest = String(date.getDate()).padStart(2, '0');
    var mmYest = String(date.getMonth() + 1).padStart(2, '0');
    var yyyyYest = String(date.getFullYear());
    var yesterday = yyyyYest + "-" + mmYest + "-" + ddYest;

    date.setDate(date.getDate() + 1);
    date.setMonth(date.getMonth() - 1);
    var ddPast = String(date.getDate()).padStart(2, '0');
    var mmPast = String(date.getMonth() + 1).padStart(2, '0');
    var yyyyPast = String(date.getFullYear());
    var past = yyyyPast + "-" + mmPast + "-" + ddPast;
    %>
    <label for="start-date">Start Date:</label>
    <input type="date" name="start-date" id="start-date" min="2010-07-17" max="<%= yesterday %>" value="<%= past %>">
    <label for="end-date">End Date:</label>
    <input type="date" name="end-date" id="end-date" min="2010-07-17" max="<%= today %>" value="<%= today %>">
    <button onclick="getData()">Update</button>
    <div id="price-wrapper">
        <label for="current-price">Current Price:</label>
        <div id="current-price"></div>
    </div>
    <div id='myChart'><a class="zc-ref" href="https://www.zingchart.com/">Charts by ZingChart</a></div>
    <script src="scripts/chart-scripts.js"></script>
    <div id="loading" class="loader"></div>
    <div id="invalidDates">Start date must be before end date</div>
    <div id="tooEarly">Dates cannot be before Jul 17, 2010</div>
    <script>
        getData();
        getCurrentPrice();
    </script>
</body>
</html>